<div id="main" class="container">
<h2>Yeoman's application</h2>
<div class="col-md-offset-2 col-md-8">
<div class="clearfix">

  <!-- Todos input -->
  <form role="form" ng-Submit="addTodo()">
    <div class="row">
      <div class="input-group">
       <input type="text" class="form-control" placeholder="Your Name" ng-model="todo.created_by"  />
       <textarea class="form-control" maxlength="200" rows="3" placeholder="Tell something" ng-model="todo.text"></textarea>
        <span class="input-group-btn">
          <input type="submit" class="btn submit-btn pull-right" value="Add" />
        </span>
      </div>
    </div>
  </form>

   
    <div id="post-stream">
    <div ui-sortable ng-model="todos">
    <div class="input-group post" ng-repeat="todo in todos | orderBy: 'created_at': true" ng-class-odd="'odd'" ng-class-even="'even'" style="padding:5px; 10px; cursor: move;">
      <p>{{todo.text}}</p>
      <small>Posted by @{{todo.created_by}}</small>
      <small class="pull-right">{{todo.created_at | date:"h:mma 'on' MMM d, y"}}</small>
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
      </span>
    </div>
    </div>
    </div>
    </div>
</div>
</div>
<p>This is the about view.</p>
